<div class="w-full py-6 px-3">
    <div class="border bg-white shadow-lg rounded-lg overflow-hidden">
        <a href="{{ product.url }}">
            {% if product.featured_image %}
                
                <img class="w-full h-48 object-cover" src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
    
                {% else %}
            
                {{ 'product-1' | placeholder_svg_tag: 'w-full h-48' }}
                
            {% endif %}
        </a>
        <div class="flex flex-col p-4">
            {% if props.show_vendor %}
                <span class="text-sm text-gray-400">{{ product.vendor }}</span>
            {% endif %}
            <a class="text-gray-700 uppercase font-medium py-2" href="{{ product.url }}">{{ product.title }}</a>
            <p class="text-gray-500">{{ product.price |  money }}</p>
        </div>
    </div>
</div>