<article class="py-8 px-4 md:px-8 lg:px-16" itemscope itemtype="http://schema.org/BlogPosting">
  {% for block in section.blocks %}

  {% case block.type %}
    {% when 'article_title' %}
      <div class="flex items-center justify-center">
        <div class="max-w-7xl text-center">
          <a href="{{ blog.url }}" class="text-base uppercase text-gray-500 hover:text-gray-900 font-bold">{{ blog.title }}</a>
          <h1 class="text-4xl md:text-6xl font-medium" itemprop="headline">
            {{ article.title }}
          </h1>
        </div>
      </div>
    {% when 'article_author' %}
    <div class="flex items-center justify-center mt-4">
      <div class="max-w-7xl text-center" itemscope itemtype="http://schema.org/Person">
            {% if section.settings.show_author %}
              <small itemprop="author">{{ article.author }}</small>
            {% endif %}
      </div>
    </div>
    {% when 'article_date' %}
      <div class="flex items-center justify-center mb-4">
        <div class="max-w-7xl text-center">
          {% if section.settings.show_date %}
            
            <time itemprop="datePublished dateCreated" datetime="{{ article.published_at |  date: '%Y-%m-%d' }}">{{ article.published_at |  date: '%Y-%m-%d' }}</time>
          {% endif %}
        </div>
      </div>
    {% when 'article_image' %}
      <div itemprop="image" class="max-w-7xl bg-blue-100 rounded-lg mx-2 md:mx-auto overflow-hidden">
            {% if section.settings.show_image %}
              
              <img class="w-full h-80 md:h-90 object-cover object-center" src="{{ article.image |  img_url: 'large' }}" alt="{{ article.image.alt | escape }}">
            {% endif %}
      </div>
    {% when 'article_content' %}
      <div itemprop="articleBody" class="prose lg:prose-lg max-w-7xl mx-2 md:mx-auto mt-8">
        {{ article.content }}
      </div>
      
    {% else %}
      
  {% endcase %}
  
{% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div id="comments" class="max-w-7xl mx-2 md:mx-auto mb-8 px-4">
    {% if article.comments_count > 0 %}
      <div class="flex-1 itemx-center justify-center mx-auto max-w-4xl px-4">
        <h1 class="text-lg mb-4 font-medium">

        </h1>

        {% paginate article.comments by 5 %}
          {% for comment in article.comments %}
            <div class="flex-1 border my-4 px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
              <span class="comment-author">{{ comment.author }}</span><span class="text-gray-500 text-sm ml-2"> <time datetime="{{ comment.created_at | date: format: 'default' }}">{{ comment.created_at | date: format: 'on_date' }}</time></span>
              <p class="text-sm ml-4 text-gray-100">
                {{ comment.content }}
              </p>
            </div>
          {% endfor %}

        <div class="max-w-6xl mx-auto">
          {%  render 'pagination', paginate: paginate %}
        </div>
        {% endpaginate %}
      </div>
      {% else %}
        There are no comments yet. Be the first to comment!
    {% endif %}
  </div>

  <div id="comment_form" class="mb-8">
    {% form 'new_comment', article %}
      <div class="flex-1 mx-auto items-center justify-center max-w-4xl px-4">

        {% if form.errors %}
          {% render 'icon-failed' %}
          Oh No! There were some problems with your submission:
          <ul class="list-disc list-inside text-red-600">
            {% for field in form.errors %}
              <li>{{ field | capitalize }} {{ form.errors[field] }}</li>
            {% endfor %}
          </ul>
          {% elsif form.posted_successfully? %}

          <div class="flex flex-center mb-4">
                    <span class="text-green-400 mr-2">
                      {% render 'icon-success' %}
                    </span>
                    <div class="text-base text-gray-500">
                          Form submitted successfully!
                    </div>
          </div>
          
          
        {% endif %}


        <div class="px-1 md:flex mb-3">
          <div class="px-3 md:w-1/2">
            <label for="comment_author" class="text-gray-700 font-medium uppercase text-xs mb-2">Name</label>
            <input 
            type="text" 
            id="comment_author" 
            name="comment[author]"
            class="w-full border border-gray-300 rounded-md px-3 py-2 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-500" 
            placeholder="James Doe" 
            required>
          </div>
          <div class="px-3 md:w-1/2">
            <label for="comment_email" class="text-gray-700 font-medium uppercase text-xs mb-2">Email</label>
            <input 
            type="email" 
            id="comment_email" 
            name="comment[email]" 
            class="w-full border border-gray-300 rounded-md px-3 py-2 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-500" 
            placeholder="james@hotmail.com" 
            required>
          </div>
        </div>
        <div class="px-1 md:flex mb-3">
          <div class="md:w-full px-3">
            <label for="" class="text-gray-700 font-medium uppercase text-xs mb-2">Comment</label>
            <textarea class="w-full border border-gray-300 rounded-md px-3 py-2 mt-1 focus:outline-none focus:ring-2 focus:ring-blue-500" name="comment[body]" id="comment_content" required></textarea>
          </div>
        </div>
        <div class="px-1 md:flex mb-3">
          <div class="md:w-full px-3">
            <input type="submit" value="Post Comment" class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md cursor-pointer">
          </div>
        </div>
      </div>
    {% endform %}
  </div>
  {% else %}
    
  {% endif %}


<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "BlogPosting",
  "headline" : {{ article.title | json }},
  "author": {
    "@type": "Person",
    "name": {{ article.author | json }}
  },
  "datePublished": {{ article.published_at | date: '%Y-%m-%d' | json}},
  {% if article.image%}
    "image": [
      {{ article.image | img_url: 'large' |  prepend: 'https:' |  json }}
    ],
  {% endif %}
  "articleBody": {{ article.content | strip_html | json }},
  {% if article.excerpt != blank %}
    "description": {{ article.excerpt | strip_html | json }},
  {% endif %}
  "publisher": {
    "@type": "Organization",
    "name": {{ shop.name | json }}
  }
}
</script>


{% schema %}
{
  "name": "Template Article",
  "settings": [
      {
        "type" : "checkbox",
        "id" : "show_author",
        "label" : "Show Author",
        "default": true
      },
      {
        "type" : "checkbox",
        "id" : "show_date",
        "label" : "Show Date",
        "default": true
      },
      {
        "type" : "checkbox",
        "id" : "show_image",
        "label" : "Show Image",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "article_title",
        "name": "Article Title",
        "limit": 1
      },
      {
        "type": "article_author",
        "name": "Author",
        "limit": 1
      },
      {
        "type": "article_date",
        "name": "Publication Date",
        "limit": 1
      },
      {
        "type": "article_image",
        "name": "Article Image",
        "limit": 1
      },
      {
        "type": "article_content",
        "name": "Article Content",
        "limit": 1
      }
    ]
}
{% endschema %}